<% if schedules.any? %>
  <ul class="list-unstyled mt-2">
    <% schedules.each do |schedule| %>
      <li><%= link_to schedule.id, edit_schedule_path(schedule) %> : <%= schedule.start_datetime %> : <%= schedule.content %> </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
